---
    import '../styles/global.css';
	const pageTitle = "Utilidades, herramientas y Documentaciones";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/utility/">Utilities</a>
    <a href="/about/">About me</a>    
		<h1>{pageTitle}</h1>
        <ul>
            <li><a href="/documentation/typescript/">Resumen de Lenguaje Typescript</a></li>
            <li><a href="/documentation/util-links/">Enlaces a Herramientas</a></li>
          <li><a href="/documentation/git-docs/">Resumen de GitHub</a></li>
          </ul>
	</body>
</html>